CheckOptions:
    readability-identifier-naming.VariableCase: camelBack
    readability-identifier-naming.MemberCase: camelBack
    readability-identifier-naming.FunctionCase: 'lower_case'
    readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
    readability-function-size.LineThreshold: '50'

